aside img{
    float: left;
    width: 850px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.h2-sobre{
    border-bottom: 3px solid;
    width: 850px;
}

p{
    text-indent: 2em;
    margin-left: 1em;
    margin-right: 0em;
}

button{
    margin-left: 350px;
}